<p-toast></p-toast>
<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button type="button" class="btn btn-primary mr-2" (click)="openNew()">
        New
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="deleteSelectedItems()"
        [disabled]="!selectedItems || !selectedItems.length"
      >
        Delete
      </button>
    </ng-template>
    <ng-template pTemplate="right">
      <button type="button" class="btn btn-secondary" (click)="exportPdf()">
        Export
      </button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="items"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [globalFilterFields]="['jobTitle', 'positionType', 'departement']"
    [(selection)]="selectedItems"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="jobTitle">
          Title
          <p-columnFilter
            type="text"
            field="jobTitle"
            display="menu"
          ></p-columnFilter>
          <p-sortIcon field="jobTitle"></p-sortIcon>
        </th>
        <th pSortableColumn="positionType">
          Position type
          <p-columnFilter
            type="text"
            field="positionType"
            display="menu"
          ></p-columnFilter
          ><p-sortIcon field="positionType"></p-sortIcon>
        </th>
        <th pSortableColumn="departement">
          Department
          <p-columnFilter
            type="text"
            field="departement"
            display="menu"
          ></p-columnFilter>
          <p-sortIcon field="departement"></p-sortIcon>
        </th>
        <th pSortableColumn="location">
          Location
          <p-columnFilter
            type="text"
            field="location"
            display="menu"
          ></p-columnFilter>
          <p-sortIcon field="location"></p-sortIcon>
        </th>
        <th pSortableColumn="qualifications">
          Qualifications
          <p-columnFilter
            type="text"
            field="qualifications"
            display="menu"
          ></p-columnFilter
          ><p-sortIcon field="qualifications"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td>{{ item.jobTitle }}</td>
        <td>{{ item.positionType }}</td>
        <td>{{ item.departement }}</td>
        <td>{{ item.location }}</td>
        <td>{{ item.qualifications }}</td>
        <td>
          <button
            type="button"
            class="btn btn-icon"
            title="Edit"
            (click)="deleteItem(item)"
          >
            <i class="fa fa-trash"></i>
          </button>
          <button
            type="button"
            class="btn btn-icon"
            title="Edit"
            (click)="editItem(item)"
          >
            <i class="fa fa-edit"></i>
          </button>
          <button
            type="button"
            class="btn btn-icon"
            title="Edit"
            (click)="viewItemDetailed(item)"
          >
            <i class="fa fa-eye"></i>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ items ? items.length : 0 }} Jobs.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="itemAddDialog"
  [style]="{ width: '450px' }"
  header="Add  a Job"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="itemsFormGroup">
      <div class="row">
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Job title"
            formControlName="jobTitle"
            [ngClass]="{
              'is-invalid': checkFormValidationJobTitle(),
              'is-valid': itemsFormGroup.get('jobTitle').valid
            }"
          />
          <div class="invalid-feedback invalid-feedback-position">
            Job title is required
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Position type"
            formControlName="positionType"
            [ngClass]="{
              'is-invalid': checkFormValidationpositionPositionType(),
              'is-valid': itemsFormGroup.get('positionType').valid
            }"
          />
          <div class="invalid-feedback invalid-feedback-position">
            Position type is required
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Department"
            formControlName="departement"
            [ngClass]="{
              'is-invalid': checkFormValidationpositionDepartement(),
              'is-valid': itemsFormGroup.get('departement').valid
            }"
          />
          <div class="invalid-feedback invalid-feedback-position">
            Department required
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <textarea
            type="text"
            class="form-control"
            formControlName="details"
            placeholder="Description"
          ></textarea>
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Location"
            formControlName="location"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('location').valid
            }"
          />
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Qualifications"
            formControlName="qualifications"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('qualifications').valid
            }"
          />
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>
<p-dialog
  [(visible)]="itemUpdateDialog"
  [style]="{ width: '450px' }"
  header="Update a Job"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="itemsFormGroup">
      <div class="row">
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Job title"
            formControlName="jobTitle"
            [ngClass]="{
              'is-invalid': checkFormValidationJobTitle(),
              'is-valid': itemsFormGroup.get('jobTitle').valid
            }"
          />
          <div class="invalid-feedback invalid-feedback-position">
            Job title is required
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Position type"
            formControlName="positionType"
            [ngClass]="{
              'is-invalid': checkFormValidationpositionPositionType(),
              'is-valid': itemsFormGroup.get('positionType').valid
            }"
          />
          <div class="invalid-feedback invalid-feedback-position">
            Position type is required
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Department"
            formControlName="departement"
            [ngClass]="{
              'is-invalid': checkFormValidationpositionDepartement(),
              'is-valid': itemsFormGroup.get('departement').valid
            }"
          />
          <div class="invalid-feedback invalid-feedback-position">
            Department required
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <textarea
            type="text"
            class="form-control"
            formControlName="details"
            placeholder="Description"
          ></textarea>
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Location"
            formControlName="location"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('location').valid
            }"
          />
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Qualifications"
            formControlName="qualifications"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('qualifications').valid
            }"
          />
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="updateProduct()"
    ></button>
  </ng-template>
</p-dialog>
<p-dialog
  [(visible)]="itemViewDialog"
  [style]="{ width: '450px' }"
  header="Job in details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="card c_grid c_yellow">
      <div class="card-body text-center">
        <div class="row">
          <div class="col-md-6">
            Job Title :
            <p class="text-muted mb-4">
              {{ selectedItem?.jobTitle }}
            </p>
          </div>
          <div class="col-md-6">
            Position type :
            <p class="text-muted mb-4">
              {{ selectedItem?.positionType }}
            </p>
          </div>
          <div class="col-md-6">
            Department :
            <p class="text-muted mb-4">
              {{ selectedItem?.departement }}
            </p>
          </div>
          <div class="col-md-6">
            Location :
            <p class="text-muted mb-4">
              {{ selectedItem?.location }}
            </p>
          </div>
          <div class="col-md-6">
            Qualifications :
            <p class="text-muted mb-4">
              {{ selectedItem?.qualifications }}
            </p>
          </div>
          <div class="col-md-12">
            Details :
            <p class="text-muted mb-4">
              {{ selectedItem?.details }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
