<div class="section-body mt-3">
  <div class="card">
    <div class="row mt-3">
      <mat-form-field class="col-8">
        <mat-label>Filter by email, username or full name</mat-label>
        <input matInput [formControl]="searchControl">
      </mat-form-field>
      <div class="col-4 flex d-flex justify-content-end">
        <button mat-fab color="primary" aria-label="Add a user"  matTooltip="Add a user">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-fab color="accent" aria-label="Add users an from EXCEL file"  matTooltip="Import from EXCEL file*">
          <mat-icon>upload</mat-icon>
        </button>
        <button mat-fab color="warn" aria-label="User statistics"  matTooltip="user statistics" (click)="openCharts()">
          <mat-icon>analytics</mat-icon>
        </button>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table class="full-width-table" matSort matSortStart="desc" aria-label="All users">
        <ng-container matColumnDef="avatar">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row" class="">
            <img  loading="lazy" [src]="'https://avatars.dicebear.com/api/initials/{{row.name}}.svg'" [tooltip]="row.name" [alt]="'{{row.email}} initials logo'">
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let user">
            {{user.email}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="joinDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Join date</th>
          <td mat-cell *matCellDef="let row">{{row.joinDate | date : 'short'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" @fadeOut></tr>
      </table>
      <div *ngIf="(loading$ | async)" class="d-flex justify-content-center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="dataSource.data.length === 0 && !(loading$ | async)">
        <div class="d-flex justify-content-center">
          No users found 🤷‍♂️
        </div>
      </div>
      <mat-paginator #paginator
                     [length]="dataSource.data.length"
                     [pageIndex]="0"
                     [pageSize]="5"
                     [pageSizeOptions]="[1, 10, 20]"
                     aria-label="Select page">
      </mat-paginator>
    </div>

  </div>
</div>


