<div class="h-100">
	<svg height="280" viewBox="0 0 600 280" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" class="ripple">
		<g>
			<path id="svg_4" d="m-2,-52.30547c213.92539,-164.88947 427.85073,164.88946 641.77607,0l0,296.80101c-145.92534,122.88948 -463.85068,-190.88945 -641.77607,0l0,-296.80101z" fill="#fff"/>
		</g>
	</svg>
	<img src="favicon.ico" class="top-right-logo" alt="Odoo clone FGSC logo">
	<div class="wrapper">
		<div class="main-container mt-3">
			<div class="title row" [ngSwitch]="toggleForms">
				<div *ngSwitchCase="true" [@enterTrigger]="'fadeIn'" class="col">Register</div>
				<div *ngSwitchCase="false" [@enterTrigger]="'fadeIn'" class="col">Login</div>
			</div>
			<div class="login-form" [@enterTrigger]="'fadeIn'" [ngSwitch]="toggleForms">
				<ng-container>
					<form class="form-wrapper" [formGroup]="loginFormGroup" *ngSwitchCase="true" [@enterTrigger]="'fadeIn'" (ngSubmit)="login()">
						<div>
							<label>
								E-mail<span></span>
							</label>
							<input name="login" type="text" [formControl]="email"/>
						</div>
						<div class="pw-wrapper">
							<label>
								Password<span></span>
							</label>
							<input name="password" type="password" [formControl]="password">
							<ng-container *ngIf="password.invalid"> aaa</ng-container>
						</div>
						<div class="pw-wrapper"></div>
						<div class="forgot-pw-wrapper">
							<a class="forgot-pw-link">Forgot password?</a>
						</div>
						<div class="login-button-wrapper">
							<button type="submit" class="submit-button" [disabled]="loginFormGroup.invalid">
								Log in
							</button>
						</div>
					</form>
				</ng-container>
				<ng-container>
					<form class="form-wrapper" [formGroup]="registerFormGroup" *ngSwitchCase="false" [@enterTrigger]="'fadeIn'" (ngSubmit)="register()">
						<div class="pw-wrapper">
							<label>
								Username<span></span>
							</label>
							<input name="password" type="text" [formControl]="userName" />
						</div>
						<div class="pw-wrapper">
							<label>
								E-mail<span></span>
								{{email.value}}
							</label>
							<input name="login" type="text" [formControl]="email"/>
						</div>
						<div class="pw-wrapper">
							<label>
								Password<span></span>
							</label>
							<input name="password" type="password" [formControl]="password"/>
						</div>
						<!---->
						<div class="login-button-wrapper">
							<button type="submit" class="submit-button" [disabled]="registerFormGroup.invalid">
								Register
							</button>
						</div>
					</form>
				</ng-container>
				<div class="right-container">
					<div class="cta-wrapper" [ngSwitch]="toggleForms">
						<div *ngSwitchCase="true">
							Don't have a an account yet?<br />
							<a class="cta" (click)="toggleForms=false">
								Register now!
							</a>
						</div>
						<div *ngSwitchCase="false">
							Have an account ?<br />
							<a class="cta" (click)="toggleForms=true">
								Login
							</a>
						</div>
					</div>
					<div>
						<h2>Demo login info</h2>
						email: demo-user@esprit.fgsc<br>
						password: 123456
					</div>
					<div class="socials-container">
						Or log in with social account:
						<ul>
							<li>
								<a >
									<img src="../../../../assets/images/github.svg" alt='' />
								</a>
							</li>
							<li>
								<a>
									<img src="../../../../assets/images/google.svg" alt='' />
								</a>
							</li>
							<li>
								<a>
									<img src="../../../../assets/images/facebook.svg" alt='' />
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
