<p-toast></p-toast>
<div class="section-body mt-3">
  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button type="button" class="btn btn-primary mr-2" (click)="openNew()">
          New
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteSelectedItems()"
          [disabled]="!selectedItems || !selectedItems.length"
        >
          Delete
        </button>
      </ng-template>
      <ng-template pTemplate="right">
        <button type="button" class="btn btn-secondary" (click)="exportPdf()">
          Export
        </button>
      </ng-template>
    </p-toolbar>

    <div class="progress-spinner text-center" *ngIf="getMyClientsLoader">
      <p-progressSpinner></p-progressSpinner>
    </div>

    <p-table
      *ngIf="!getMyClientsLoader"
      #dt
      [value]="items"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      [globalFilterFields]="['fullName']"
      [(selection)]="selectedItems"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="fullName">
            Full Name
            <p-sortIcon field="fullName"></p-sortIcon>
          </th>
          <th pSortableColumn="address">
            Address
            <p-sortIcon field="address"></p-sortIcon>
          </th>
          <th pSortableColumn="email">
            Email
            <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th pSortableColumn="tel">
            Phone
            <p-sortIcon field="tel"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item>
        <tr>
          <td>
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td>{{ item.fullName }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.tel }}</td>
          <td>
            <button
              type="button"
              class="btn btn-icon"
              title="Edit"
              (click)="deleteItem(item)"
            >
              <i class="fa fa-trash"></i>
            </button>
            <button
              type="button"
              class="btn btn-icon"
              title="Edit"
              (click)="editItem(item)"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn btn-icon"
              title="Edit"
              (click)="viewItemDetailed(item)"
            >
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{ items ? items.length : 0 }} clients.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [(visible)]="itemAddDialog"
  [style]="{ width: '450px' }"
  header="Add  a client"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="itemsFormGroup">
      <div class="row">
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Full name"
            formControlName="fullName"
            [ngClass]="{
              'is-invalid': checkFormValidationFirstName(),
              'is-valid': itemsFormGroup.get('fullName').valid
            }"
          />
          <div class="invalid-feedback invalid-feedback-position">
            Full Name is required
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{
              'is-invalid': checkFormValidationEmail(),
              'is-valid': itemsFormGroup.get('email').valid
            }"
          />
          <div class="invalid-feedback invalid-feedback-position">
            Email is {{ getInvalidMessage() }}
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Designation"
            formControlName="designation"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('designation').valid
            }"
          />
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Telephone"
            formControlName="tel"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('tel').valid
            }"
          />
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Country"
            formControlName="country"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('country').valid
            }"
          />
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Website"
            formControlName="webSite"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('webSite').valid
            }"
          />
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Address"
            formControlName="address"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('address').valid
            }"
          />
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
      [disabled]="itemsFormGroup.invalid"
    ></button>
  </ng-template>
</p-dialog>
<p-dialog
  [(visible)]="itemUpdateDialog"
  [style]="{ width: '450px' }"
  header="Update a client"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="itemsFormGroup">
      <div class="row">
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Full name"
            formControlName="fullName"
            [ngClass]="{
              'is-invalid': checkFormValidationFirstName(),
              'is-valid': itemsFormGroup.get('fullName').valid
            }"
          />
          <div class="invalid-feedback invalid-feedback-position">
            First Name is required
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{
              'is-invalid': checkFormValidationEmail(),
              'is-valid': itemsFormGroup.get('email').valid
            }"
          />
          <div class="invalid-feedback invalid-feedback-position">
            Email is {{ getInvalidMessage() }}
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <input type="text" class="form-control" placeholder="Client Id" />
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Designation"
            formControlName="designation"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('designation').valid
            }"
          />
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Telephone"
            formControlName="tel"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('tel').valid
            }"
          />
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Country"
            formControlName="country"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('country').valid
            }"
          />
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Website"
            formControlName="webSite"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('webSite').valid
            }"
          />
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Address"
            formControlName="address"
            [ngClass]="{
              'is-valid': itemsFormGroup.get('webSite').valid
            }"
          />
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="updateProduct()"
      [disabled]="itemsFormGroup.invalid"
    ></button>
  </ng-template>
</p-dialog>
<p-dialog
  [(visible)]="itemViewDialog"
  [style]="{ width: '450px' }"
  header="Client in details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="card c_grid c_yellow">
      <div class="card-body text-center">
        <div class="circle">
          <img
            class="rounded-circle"
            src="../assets/images/sm/avatar1.jpg"
            alt=""
          />
        </div>
        <h6 class="mt-3 mb-0">
          {{ selectedItem?.fullName }}
        </h6>
        <span>{{ selectedItem?.tel }}</span>
        <span>{{ selectedItem?.address }}</span>
        <span>{{ selectedItem?.country }}</span>
        <ul class="mt-3 list-unstyled d-flex justify-content-center">
          <li>
            <a class="p-3" target="_blank" href="#"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a class="p-3" target="_blank" href="#"
              ><i class="fa fa-slack"></i
            ></a>
          </li>
          <li>
            <a class="p-3" target="_blank" href="#"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
        </ul>
        <div class="row">
          <div class="col-md-6">
            Email :
            <a
              href="mailto:{{ selectedItem?.email }}"
              class="text-muted mb-0"
              >{{ selectedItem?.email }}</a
            >
          </div>
          <div class="col-md-6">
            Phone :
            <p class="text-muted mb-0">
              {{ selectedItem?.tel }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
