<div class="auth">
  <div class="auth_left" [@enterTrigger]="'fadeIn'" >
    <div class="card" [@enterTrigger]="'fadeIn'">
      <div class="text-center mb-2">
        <i class="fe fe-command brand-logo header-brand"></i>
        <div [ngSwitch]="CurrentState">
          <div *ngSwitchCase="CCSEnum.INITIAL" [@enterTrigger]="'fadeIn'" class="col">Password reset form</div>
          <div *ngSwitchCase="CCSEnum.LOADING" [@enterTrigger]="'fadeIn'" class="col">Processing</div>
          <div *ngSwitchCase="CCSEnum.COMPLETE" [@enterTrigger]="'fadeIn'" class="col">Success</div>
          <div *ngSwitchCase="CCSEnum.ERROR" [@enterTrigger]="'fadeIn'" class="col">Error</div>
        </div>
      </div>
      <div class="card-body row" [ngSwitch]="CurrentState">
        <div class="col-12" [@enterTrigger]="'fadeIn'">
          <form class="card-body" *ngSwitchCase="CCSEnum.INITIAL" [@enterTrigger]="'fadeIn'" [formGroup]="resetPwFB" (ngSubmit)="verifyEmailAndSendPassword()">
            <div class="form-group">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="Password" [formControl]="password">
              <div class="validation-message" *ngIf="(password.touched || password.dirty) && password.invalid">
                Please provide your password (length > 6)
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Confirm password</label>
              <input type="password" class="form-control" placeholder="Confirm password" [formControl]="confirmPassword">
              <div class="validation-message" *ngIf="(confirmPassword.dirty || confirmPassword.touched && password.valid) && password.value !== confirmPassword.value">
                Passwords dont match
              </div>
            </div>
            <div class="card-footer row">
              <button [disabled]="resetPwFB.invalid || password.value !== confirmPassword.value" class="btn btn-primary btn-block row col-12 d-flex justify-content-center" title="" type="submit">
                  Sign in
                <mat-progress-bar *ngIf="CurrentState === CCSEnum.LOADING" mode="indeterminate" color="accent"></mat-progress-bar>
              </button>
            </div>
          </form>
          <mat-progress-spinner mode="indeterminate" *ngSwitchCase="CCSEnum.LOADING"></mat-progress-spinner>
          <div *ngSwitchCase="CCSEnum.COMPLETE">
            <div class="o-circle c-container__circle o-circle__sign--success" [@enterTrigger]="'fadeIn'">
              <div class="o-circle__sign"></div>
            </div>
            {{ message }}, logging in
          </div>
          <div *ngSwitchCase="CCSEnum.ERROR">
            <div class="o-circle c-container__circle o-circle__sign--failure" [@enterTrigger]="'fadeIn'">
              <div class="o-circle__sign"></div>
            </div>
            {{ message }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="auth_right">
    <carousel [isAnimated]="true">
      <slide>
        <img src="assets/images/slider1.svg" class="img-fluid" alt="first slide">
        <div class="px-4 mt-4">
          <h4>Vodoo</h4>
          <p>Your HR Solution.</p>
        </div>
      </slide>
      <slide>
        <img src="assets/images/slider2.svg" class="img-fluid" alt="second slide">
        <div class="px-4 mt-4">
          <h4>Quality Code and Easy Customizable</h4>
          <p>Let us take care of you HR needs.</p>
        </div>
      </slide>
      <slide>
        <img src="assets/images/slider3.svg" class="img-fluid" alt="third slide">
        <div class="px-4 mt-4">
          <h4>Free for life.</h4>
          <p>No strings attached.</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>
