.validation-message{
  margin-top: 10px;
  color: indianred;
  font-size: 10px;
  font-weight: lighter;
}
.submit-button{
  box-shadow: 5px 10px #8CD4F5;
  &:disabled{
    box-shadow: 5px 10px deeppink;
    background-color: #5a6268;
    &:hover{
      cursor: not-allowed;
    }
  }
}
.centered-spinner{
  display: block;
  margin-left: auto;
  margin-right: auto
}
