<ng-container [ngSwitch]="CurrentState">
  <div class="card-body" [@enterTrigger]="'fadeIn'" [@simpleFadeAnimation]="'out'" *ngSwitchCase="CCSEnum.email">
    <p class="text-muted">Enter your email address.</p>
    <form class="form-group">
      <label class="form-label" for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             [formControl]="email" placeholder="Enter email">
      <div class="validation-message" *ngIf="(email.touched || email.dirty) && email.invalid">
        <div *ngIf="email.errors.required">
          Please provide an email address
        </div>
        <div *ngIf="email.errors.email">
          Please provide a valid email
        </div>
        <div *ngIf="email.errors.minLength">
          Email length should be > 10
        </div>
        <div *ngIf="email.errors.maxLength">
          Email length should be < 255
        </div>
      </div>
      <div class="form-footer row">
        <i (click)="goBack.emit();" class="fe fe-arrow-left col-2 d-flex align-items-center"></i>
        <button class="btn btn-primary btn-block col-10 submit-button row" [disabled]="email.invalid"
                (click)="$event.preventDefault();sendResetToken()">
          <ng-container *ngIf="!isLoading" class="col">
            Send me my recovery link
          </ng-container>
          <ng-container *ngIf="isLoading" class="col-12">
            <mat-progress-spinner mode="indeterminate" color="accent" [diameter]="30"
                                  class="centered-spinner"></mat-progress-spinner>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
  <div class="card-body row" [@enterTrigger]="'fadeIn'" [@simpleFadeAnimation]="'out'" *ngSwitchCase="CCSEnum.error">
    <i class="fe fe-arrow-left col-2 d-flex align-items-center col-3" (click)="CurrentState = CCSEnum.email;"></i>
    <div class="validation-message col-9">{{message}}</div>
  </div>
  <div class="card-body" [@enterTrigger]="'fadeIn'" [@simpleFadeAnimation]="'out'" *ngSwitchCase="CCSEnum.success">
    <p class="text-muted">Success</p>
    <p>{{message}}</p>
  </div>

</ng-container>
